.App {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}
.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: calc(0.7rem);
  font-family: "Roboto", sans-serif;
  background-color: #2457b4;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  padding: 2px;
}

.footer {
  flex-shrink: 0;
}
.flex-container {
  display: flex;
  padding-bottom: 0.5rem;
}

.user-input {
  flex-direction: column;
  align-items: center;
}
input {
  margin: 4px;
}
.phrases {
  flex-direction: column;
  justify-content: center;
  padding: 0 2.5%;
}
div.phrases > div > span {
  margin: 0.1% 0.5%;
  font-size: clamp(0.9rem, 2.5vw, 2rem);
}
div.flex-container.user-input > div > label > span {
  margin: 0.1% 0.5%;
  font-size: clamp(0.9rem, 2.5vw, 1.5rem);
}
div.flex-container.phrases > div > span:nth-child(2) {
  font-weight: bold;
}
div.flex-container.phrases > div > img {
  max-width: 20%;
  max-height: 3rem;
}
.ninety-percent-width {
  width: 95%;
}

.button5 {
  padding: 0.46em 1.6em;
  margin: 0 0.2em 0.2em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: clamp(0.9rem, 2.5vw, 1.5rem);
  font-weight: 300;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  transition: all 0.15s;
  width: 47.5%;
}

.button5:hover {
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: #ffffff;
  border-color: #ffffff;
  background-color: #00da00;
}

@media all and (max-width: 30em) {
   button5 {
    margin: 0.4em auto;
  }
}

input[type="file"] {
  display: none;
}

.file-upload {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 0.46em;
  border: 0.1em solid #000000;
  margin: 0 0.2em 0.2em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: #000000;
  font-size: 0.8rem;
  background-color: #ffffff;
  text-align: center;
  transition: all 0.15s;
  width: 47.5%;
  vertical-align: middle;
}

.two-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.delete-x {
  margin: 0.2em;
  background-color: #ffffff;
  border-radius: 5px;
}

.fa-cloud-upload-alt {
  margin: 0 0.2em;
}
